{% extends 'base.html' %}

{% block title %} Dashboard {% endblock title %}

{% block heading %}
<h5>Dashboard</h5>
{% endblock heading %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
{% endblock breadcrumb %}

{% block content %}
<div class="alert alert-warning alert-dismissible fade show" role="alert" style="font-size: 19px;">
    <strong>Selamat Datang {{request.user.first_name}} {{request.user.last_name}}!</strong>
   
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <i class="ik ik-x"></i>
    </button>
</div>
{% endblock content %}