{% extends 'base.html' %}
{% load static %}


{% block title %} Reservasi {% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'theme/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block heading_icon %}
<i class="ik ik-layers bg-blue"></i>
{% endblock heading_icon %}

{% block heading %}
<h5>List Reservasi</h5>
<span>List reservasi barang</span>
{% endblock heading %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Reservasi</li>
{% endblock breadcrumb %}


{% block content %}

<div class="card table-card">
    <div class="card-header">
        <h3>List Reservasi</h3>
        <div class="card-header-right">
            
        </div>
    </div>
    <div class="card-block">
        <div class="container">
        <div class="table-responsive">
            <table class="table table-hover mb-0" id="reservation-table">
                <thead>
                    <tr>
                        <th>Nik</th>
                        <th>Nama</th>
                        <th>Tanggal Pengambilan</th>
                        <th>Dibuat Pada</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reservation in reservations %}
                    <tr>
                        <td>{{reservation.nik}}</td>
                        <td>{{reservation.name}}</td>
                        <td>{{reservation.schedule}}</td>
                        <td>{{reservation.created}}</td>
                        <td>
                            {% if reservation.status == 1 %}
                            <span class="text-success">
                                DITERIMA
                            </span>
                            {% endif %}

                            {% if reservation.status == 2 %}
                            <span class="text-warning">
                                PANDING
                            </span>
                            {% endif %}

                            {% if reservation.status == 3 %}
                            <span class="text-danger">
                                DITOLAK
                            </span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'user-reservation-detail' reservation.pk %}"><i class="ik ik-eye f-16 mr-15 text-green"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'theme/plugins/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'theme/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

<script>
    $(document).ready(function() {
        $("#reservation-table").DataTable({
            responsive: true,
            select: true,
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': ['nosort']
            }]
        });
    })
</script>
{% endblock scripts %}