{% extends 'base-auth.html' %}

{% block title %} Signin {% endblock title %}

{% block content %}
<h3>Sign In to ThemeKit</h3>
<p>Happy to see you again!</p>
<form action="" method="POST">
    {% csrf_token %}
    
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" required="" name="username">
        <i class="ik ik-user"></i>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" required="" name="password">
        <i class="ik ik-lock"></i>
    </div>
    <div class="sign-btn text-center">
        <button class="btn btn-theme" type="submit">Sign In</button>
    </div>
</form>
<div class="register">
    <p>Don't have an account? <a href="{% url 'signup' %}">Create an account</a></p>
</div>
{% endblock content %}