{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'theme/plugins/bootstrap/dist/css/bootstrap.min.css' %}">
    <style>
        #print-table .data-reservation, #print-table thead tr th{
            border: 1px solid grey;
        }
    </style>
</head>
<body>
    
    {% if reservations %}
    <table class="table" id="print-table">
        <thead>
            <tr>
                <th>Nik</th>
                <th>Nama</th>
                <th>Tanggal Pengambilan</th>
                <th>Daftar Barang</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td class="data-reservation">{{reservation.reservation.nik}}</td>
                <td class="data-reservation">{{reservation.reservation.name}}</td>
                <td class="data-reservation">{{reservation.reservation.schedule}}</td>
                <td class="data-reservation">
                    {% if reservation.items|length == 0 %}
                    Tidak ada barang
                    {% else %}
                    <table class="table table-borderless">
                        <tr>
                            <th>Material</th>
                            <th>Barang</th>
                            <th>Kuantitas</th>
                            <th>Unit</th>
                        </tr>
                        {% for item in reservation.items %}
                        <tr>
                            <td>{{item.provider}}</td>
                            <td>{{item.item.name}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.unit}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <center>
        <br><br><br><br>    
        <h5>Tidak ada data</h5>
    </center>
    {% endif %}

    <script>
        var url = new URL(window.location.href);
        var format = url.searchParams.get("format");

        if (format.toString() == '1') {
            window.print()
        } else if (format.toString() == '2') {
            fnExcelReport()
        }
        
        function fnExcelReport()
        {
            var tab_text="<table border='2px'><tr bgcolor='#87AFC6'>";
            var textRange; var j=0;
            tab = document.getElementById('print-table'); // id of table

            for(j = 0 ; j < tab.rows.length ; j++) 
            {     
                tab_text=tab_text+tab.rows[j].innerHTML+"</tr>";
                //tab_text=tab_text+"</tr>";
            }

            tab_text=tab_text+"</table>";
            tab_text= tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
            tab_text= tab_text.replace(/<img[^>]*>/gi,""); // remove if u want images in your table
            tab_text= tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE "); 

            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
            {
                txtArea1.document.open("txt/html","replace");
                txtArea1.document.write(tab_text);
                txtArea1.document.close();
                txtArea1.focus(); 
                sa=txtArea1.document.execCommand("SaveAs",true,"Say Thanks to Sumit.xls");
            }  
            else                 //other browser not tested on IE 11
                sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));  

            return (sa);
        }
    </script>
</body>
</html>