{% extends 'base.html' %}

{% block title %} List Barang {% endblock title %}

{% block heading_icon %}
<i class="ik ik-package bg-blue"></i>
{% endblock heading_icon %}

{% block heading %}
<h5>List Barang</h5>
<span>List Barang Material</span>
{% endblock heading %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Barang</li>
{% endblock breadcrumb %}

{% block content %}

<div class="card table-card">
    <div class="card-header">
        <h3>List Barang</h3>
        <div class="card-header-right">
           
        </div>
    </div>
    <div class="card-block">
        <div class="table-responsive">
            <table class="table table-hover mb-0">
                <thead>
                    <tr>
                        <th>Nama Barang</th>
                        <th>Stok</th>
                        <th>Harga</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.stock}}</td>
                        <td>Rp {{item.price}}</td>
                        <td>
                            <a href="{% url 'item-update' item.pk %}"><i class="ik ik-edit f-16 mr-15 text-green"></i></a>
                            <a href="{% url 'item-delete' item.pk %}" onclick="return confirm('Apakah anda yakin ingin menghapus data ini?');"><i class="ik ik-trash-2 f-16 text-red"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}