{% extends 'base.html' %}

{% block title %} Reservation {% endblock title %}

{% block heading_icon %}
<i class="ik ik-layers bg-blue"></i>
{% endblock heading_icon %}

{% block heading %}
<h5>List Reservasi</h5>
<span>List reservasi barang</span>
{% endblock heading %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Reservasi</li>
{% endblock breadcrumb %}

{% block content %}

<div class="card table-card">
    <div class="card-header">
        <h3>List Reservasi</h3>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="ik ik-chevron-left action-toggle"></i></li>
                <li><i class="ik ik-minus minimize-card"></i></li>
                <li><i class="ik ik-x close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block">
        <div class="table-responsive">
            <table class="table table-hover mb-0">
                <thead>
                    <tr>
                        <th>Nik</th>
                        <th>Nama</th>
                        <th>Tanggal Pengambilan</th>
                        <th>Dibuat Pada</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reservation in reservations %}
                    <tr>
                        <td>{{reservation.nik}}</td>
                        <td>{{reservation.name}}</td>
                        <td>{{reservation.schedule}}</td>
                        <td>{{reservation.created}}</td>
                        <td>
                        {% if reservation.status == 1 %}
                        DITERIMA
                        {% endif %}

                        {% if reservation.status == 2 %}
                        PANDING
                        {% endif %}

                        {% if reservation.status == 3 %}
                        DITOLAK
                        {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'reservation-detail' reservation.pk %}"><i class="ik ik-eye f-16 mr-15 text-green"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}