{% extends 'base.html' %}
{% load static %}


{% block title %} Users {% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'theme/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block heading_icon %}
<i class="ik ik-users bg-blue"></i>
{% endblock heading_icon %}

{% block heading %}
<h5>Leaders</h5>
<span>List Leader Material</span>
{% endblock heading %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Leaders</li>
{% endblock breadcrumb %}

{% block content %}

<div class="card table-card">
    <div class="card-header">
        <h3>Leaders</h3>
        <div class="card-header-right">
            
        </div>
    </div>
    <div class="card-block">
        <div class="container">
        <div class="table-responsive">
            <table class="table table-hover mb-0" id="user-table">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Email</th>
                        <th>No Telp</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{user.user.first_name}} {{user.user.last_name}}</td>
                        <td>{{user.user.email}}</td>
                        <td>{{user.phone}}</td>
                        <td>
                            <a href="{% url 'user-detail' user.user.pk %}"><i class="ik ik-eye f-16 mr-15 text-green"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'theme/plugins/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'theme/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

<script>
    $(document).ready(function() {
        $("#user-table").DataTable({
            responsive: true,
            select: true,
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': ['nosort']
            }]
        });
    })
</script>
{% endblock scripts %}