{% load static %}

<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Dashboard</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="icon" href="../favicon.ico" type="image/x-icon" />

        {% include 'components/load-top.html' %}
    </head>

    <body>
        
        <div class="wrapper">
            
            <!-- Header -->
            <!-- ---------------------------------------- -->
            {% include 'components/header.html' %}

            <div class="page-wrap">
                
                <!-- Sidebar -->
                <!-- ---------------------------------------- -->
                {% include 'components/sidebar.html' %}

                <div class="main-content">
                    <div class="container-fluid">

                        <div class="page-header">
                            <div class="row align-items-end">
                                <div class="col-lg-8">
                                    <div class="page-header-title">
                                        <i class="ik ik-file-text bg-blue"></i>
                                        <div class="d-inline">
                                            <h5>Profile</h5>
                                            <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <nav class="breadcrumb-container" aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="../index.html"><i class="ik ik-home"></i></a>
                                            </li>
                                            <li class="breadcrumb-item">
                                                <a href="#">Pages</a>
                                            </li>
                                            <li class="breadcrumb-item active" aria-current="page">Profile</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>

                        
                        <!-- Content here -->
                        <!-- ---------------------------------------- -->
                        {% block content %}
                        
                        {% endblock content %}

                    </div>
                </div>

                <!-- Right sidebar -->
                <!-- ---------------------------------------- -->
                {% include 'components/right-sidebar.html' %}

                <!-- Chat Panel -->
                <!-- ---------------------------------------- -->
                {% include 'components/chat-panel.html' %}
                
                <!-- Footer -->
                <!-- ---------------------------------------- -->
                {% include 'components/footer.html' %}
            
            </div>
        </div>
        
        {% comment %} <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>window.jQuery || document.write('<script src="../src/js/vendor/jquery-3.3.1.min.js"><\/script>')</script> {% endcomment %}
        {% include 'components/load-bottom.html' %}
    </body>
</html>
