{% load static %}

<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>
        {% block title %}{% endblock title %}
        </title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="icon" href="../favicon.ico" type="image/x-icon" />

        {% include 'components/load-top.html' %}
    </head>

    <body>
        
        <div class="wrapper">
            
            <!-- Header -->
            <!-- ---------------------------------------- -->
            {% include 'components/header.html' %}

            <div class="page-wrap">
                
                <!-- Sidebar -->
                <!-- ---------------------------------------- -->
                {% include 'components/sidebar.html' %}

                <div class="main-content">
                    <div class="container-fluid">

                        <div class="page-header">
                            <div class="row align-items-end">
                                <div class="col-lg-8">
                                    <div class="page-header-title">
                                        {% block heading_icon %}{% endblock heading_icon %}
                                        <div class="d-inline">
                                            {% block heading %}{% endblock heading %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <nav class="breadcrumb-container" aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="{% url 'user-home' %}"><i class="ik ik-home"></i></a>
                                            </li>
                                            {% block breadcrumb %}{% endblock breadcrumb %}
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>

                        
                        <!-- Content here -->
                        <!-- ---------------------------------------- -->
                        {% block content %}
                        
                        {% endblock content %}

                    </div>
                </div>

                <!-- Right sidebar -->
                <!-- ---------------------------------------- -->
                {% include 'components/right-sidebar.html' %}

                <!-- Chat Panel -->
                <!-- ---------------------------------------- -->
                {% include 'components/chat-panel.html' %}
                
                <!-- Footer -->
                <!-- ---------------------------------------- -->
                {% include 'components/footer.html' %}
            
            </div>
        </div>
        
        {% comment %} <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>window.jQuery || document.write('<script src="../src/js/vendor/jquery-3.3.1.min.js"><\/script>')</script> {% endcomment %}
        {% include 'components/load-bottom.html' %}
    </body>
</html>
