{% load static %}

<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>
        {% block title %}{% endblock title %}
        </title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="icon" href="../favicon.ico" type="image/x-icon" />

        {% include 'components/load-top.html' %}
    </head>

    <body>
       
        <div class="auth-wrapper">
            <div class="container-fluid h-100">
                <div class="row flex-row h-100 bg-white">
                    <div class="col-xl-8 col-lg-6 col-md-5 p-0 d-md-block d-lg-block d-sm-none d-none">
                        <div class="lavalite-bg" style="background-image: url({% static 'theme/img/auth/login-bg.jpg' %})">
                            <div class="lavalite-overlay"></div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-7 my-auto p-0">
                        <div class="authentication-form mx-auto">
                            <div class="logo-centered">
                                <a href="../index.html"><img src="{% static 'theme/src/img/brand.svg' %}" alt=""></a>
                            </div>

                            {% block content %}{% endblock content %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% include 'components/load-bottom.html' %}
    </body>
</html>
