{% load static %}

<script src="{% static 'theme/src/js/vendor/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'theme/plugins/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'theme/plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'theme/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'theme/plugins/screenfull/dist/screenfull.js' %}"></script>
<script src="{% static 'theme/dist/js/theme.min.js' %}"></script>