{% load static %}
{% load tags_user %}


<div class="app-sidebar colored">
    <div class="sidebar-header">
        <a class="header-brand" href="index.html">
            <div class="logo-img">
               <img src="{% static 'theme/src/img/brand-white.svg' %}" class="header-brand-img" alt="lavalite"> 
            </div>
            <span class="text">INVENTARIS</span>
        </a>
        <button type="button" class="nav-toggle"><i data-toggle="expanded" class="ik ik-toggle-right toggle-icon"></i></button>
        <button id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></button>
    </div>
    
    <div class="sidebar-content">
        <div class="nav-container">
            <nav id="main-menu-navigation" class="navigation-main">
                <div class="nav-lavel">Navigation</div>
                <div class="nav-item">
                    <a href="{% url 'admin-home' %}"><i class="ik ik-bar-chart-2"></i><span>Dashboard</span></a>
                </div>
                
                {% if user|is_admin %}
                <div class="nav-item has-sub">
                    <a href="javascript:void(0)"><i class="ik ik-package"></i>Barang</a>
                    <div class="submenu-content">
                        <a href="{% url 'item-list' %}" class="menu-item">List Barang</a>
                        <a href="{% url 'item-create' %}" class="menu-item">Tambah Barang</a>
                    </div>
                </div>
                <div class="nav-item">
                    <a href="{% url 'reservation-list' %}"><i class="ik ik-layers"></i><span>Reservasi</span></a>
                </div>
                <div class="nav-item">
                    <a href="{% url 'user-list' %}"><i class="ik ik-users"></i><span>Leaders</span></a>
                </div>
                {% else %}
                <div class="nav-item has-sub">
                    <a href="javascript:void(0)"><i class="ik ik-layers"></i>Reservasi</a>
                    <div class="submenu-content">
                        <a href="{% url 'user-reservation-list' %}" class="menu-item">List Reservasi</a>
                        <a href="{% url 'user-reservation-create' %}" class="menu-item">Tambah Reservasi</a>
                    </div>
                </div>
                {% endif %}
            </nav>
        </div>
    </div>
</div>